.test {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 10rem;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Space between input fields and button */
  max-width: 400px;
  margin: 0 auto; /* Center the form on the page */
  padding: 20px;
  box-shadow: 0px 4px 8px #00000029; /* Slight shadow for form container */
  border-radius: 10px;
  background-color: #ffffff;
}

/* Form title */
h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500; /* Medium */
  font-size: 30px;
  color: #353a5d;
  margin-bottom: 10px;
  align-self: flex-start;
  padding: 25px;
}
