@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");

.oswald-light {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200; /* Light */
  font-style: normal;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular */
  font-style: normal;
}

.oswald-medium {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Medium */
  font-style: normal;
}

.oswald-bold {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold */
  font-style: normal;
}

/* Example usage for Montserrat font */
.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Light */
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Regular */
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; /* Bold */
  font-style: normal;
}
